html {
  scroll-behavior: smooth;
}
body{
  box-sizing: border-box;
}
.mainContainter{
  position: relative;
}
.pageBox{
  width: 40vw;
  height: 80vh;
  border: 2px solid black;
  padding: 2rem;
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.form-control{
  color: black!important;
}

.btn{
  font-size: 1.1rem;
  background: linear-gradient(135deg, #09C6F9 0%, #045DE9 100%);
  padding: 0.8rem 2rem !important;
  color: black!important;
  border: none;
  border-radius: 30px 0 30px 0;
}
.btn:hover{
  background: linear-gradient(135deg, #04a5f5 0%, #29f39a 100%);
  text-decoration: none!important;
}
.word-wrap{
  word-wrap: break-word;
}