body{
  box-sizing: border-box;
}
.mainContainter{
  position: relative;
}
.pageBox{
  width: 40vw;
  height: 80vh;
  border: 2px solid black;
  padding: 2rem;
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.form-control{
  border: 3px solid black!important;
  color: black!important;
}
.nextBtn{
  width: 100%;
  margin-top: 4rem;
  background-color: #f3c0c0;
  font-weight: bold;
  border: 2px solid brown!important;
  box-shadow: 4px 4px brown;
}
.btn{
  width: 100%;
  font-weight: bold;
  border: 2px solid black!important;
  box-shadow: 4px 4px black;
}